body {
    margin: 0 2%;
    padding: 0;
    background-color: #FFF8D8;
}

header {
    text-align: center;
    padding: 0.5em 10px;
    color: rgb(255 255 255 / 54%);
    font-size: 100%;
    text-shadow: 2px 2px 0 rgb(255 0 0 / 52%);
    -webkit-text-stroke: 1px red;
    text-stroke: 1px red;

}

h2 {
    font-size: 24px;
    padding: 0;
    margin: 8px 0;
}

h3 {
    margin: 4px 0;
    color: rgb(206, 69, 69)
}

.mainColumn p {
    margin: 0 0 8px 0;
}

main {
    display: flex;
    justify-content: center;

}

.country {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.country img {
    height: 100px;
}

/* 選択された国をハイライトするためのスタイル */
.country img.highlight {
    border: 2px solid rgb(206, 69, 69);
    padding: 0 4px;
}

.statusColumn,
.informationColumn {
    flex: 1;
}

.informationColumn p {
    margin: 0 0 16px 0;

}

.statusColumn p {
    border-bottom: dotted 2px rgb(206, 69, 69)
}

.mainColumn {
    flex: 3;
    max-width: 1000px;
    margin: 0 24px;
}

.handChoice {
    height: auto;
    min-height: 240px;
    /* transition: background 1s ease; */
    /* 背景色変更時のトランジション */
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直方向の中央揃え */
    flex-wrap: wrap;
}

.handChoice img {
    height: 200px;
    transform: scaleX(-1);
    /* 水平方向に反転 */

}

.handButton {
    background: transparent;
    border: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.hand {
    position: relative;
    cursor: pointer;
}

/* 手の意味用ツールチップ  */
.tooltipHand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.handButton:hover .tooltipHand {
    visibility: visible;
    opacity: 1;
}


.tooltipCountry {
    display: none;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #545454;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
}

.country img:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #545454;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.handResult {
    height: 280px;
    background-color: rgb(255, 195, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直方向の中央揃え */
}

.handResult img {
    height: 240px;
}
.buttonArea{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#resetButton {
    font-weight: 600;
    border: none;
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    background-color: #cab4ee;
    border-bottom: 5px solid #666196;
}

#resetButton:hover {
    margin-top: 3px;
    background-color: #cab4ee;
    border-bottom: 2px solid #666196;
}
#recordButton {
    font-weight: 600;
    border: none;
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    background-color: #b4eeb4;
    border-bottom: 5px solid #619680;
}

#recordButton:hover {
    margin-top: 3px;
    background-color: #b4eeb4;
    border-bottom: 2px solid #619680;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 20px;
    font-size: 12px;
}