body {
    margin: 0 5%;
    padding: 0;
    background-color: #FFF8D8;
}

h2 {
    font-size: 24px;
    padding: 0;
    margin: 8px 0;
}

main {
    display: flex;
    justify-content: center;

}

.country {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.country img {
    height: 100px;
}

    /* 選択された国をハイライトするためのスタイル */
.country img.highlight {
    border: 2px solid rgb(0, 0, 0);
}

.statusColumn,
.informationColumn {
    flex: 0 0 280px;
}

.mainColumn {
    flex: 1;
    max-width: 1000px;
    margin: 0 16px;
}

.handChoice {
    height: 240px;
    transition: background 1s ease;
    /* 背景色変更時のトランジション */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直方向の中央揃え */
        flex-wrap: wrap;
    gap: 20px;
}

.handChoice img{
    height: 200px;
    transform: scaleX(-1); /* 水平方向に反転 */

}
.handButton {
    background: transparent;
    border: none;
    position: relative;
}

.hand {
    position: relative;
    cursor: pointer;
  }

/* 手の意味用ツールチップ  */
.tooltipHand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.handButton:hover .tooltipHand {
    visibility: visible;
    opacity: 1;
}

.tooltipCountry {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.handButton:hover .tooltipCountry {
    visibility: visible;
    opacity: 1;
}

.handResult {
    height: 280px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直方向の中央揃え */
}

.handResult img {
    height: 240px;
}

